body {
    margin: 0;
    padding: 0;
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTU5eDkwNWQwdmNiYzI5OTU3N2w0bzQwajhkZWlsbm5iYzlxb3YzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sr8YsbzczwisgPdDAH/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #1b1b1b;
    color: white;
    background-image: linear-gradient(to right, #f03030, #f07fff, #309eff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Comic, sans-serif;
}

.logo {
    max-width: 100px;
}

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.centered-title {
    font-size: 60px;
    font-weight: bold;
    font-family: Comic, sans-serif;
}

.test-text {

    font-size: 30px;
    color: white;
    text-align: center;

}

.sub-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Comic, sans-serif;
    text-shadow: 4px 4px 8px #309efff3;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.flex-container {
    display: flex;
}

.left-content {
    flex: 1;
}

.RollText {
  position: absolute;
  top: 500px;
  left: -1000px;
  font-size: 60px;
  font-weight: 800;
  font-family: sans-serif;
  color: #dbe7f1f3;
  text-shadow: 4px 4px 8px #f03030;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #309efff3;
  animation: ChaCha 0.5s forwards;
}

footer {
  background-image: linear-gradient(to right, #f03030, #f07fff, #309eff);
  text-align: center;
  padding: 5px;
  color: white;
}

.content {
  flex: 1;
  /* Votre contenu peut avoir une marge en haut ou en bas ici. */
  padding: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px;
  /* Positionnez le footer en bas de la page. */
  position: fixed;
  bottom: 0;
  width: 99%;
}

/* Animation */
@keyframes glow {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

  .image-fader {
    width: 300px;
    height: 300px;
  }

  .image-fader img {
    position: absolute;
    top: 280px;
    left: 200px;
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
  }

@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:0;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 27s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 24s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 21s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 18s;
}
.image-fader img:nth-of-type(5) {
  animation-delay: 15s;
}
.image-fader img:nth-of-type(6) {
  animation-delay: 12s;
}
.image-fader img:nth-of-type(7) {
  animation-delay: 9s;
}
.image-fader img:nth-of-type(8) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(9) {
  animation-delay: 3s;
}
.image-fader img:nth-of-type(10) {
  animation-delay: 0s;
}

#cycle:after{

  animation: cycle 30s infinite; /* IE 10+, Fx 29+ */
  Content: "";
  display: block;
}

@keyframes cycle {

0% {
  content: "alternative pop de Billie Eilish!";
}
1% {
  content: "alternative pop de Billie Eilish!";
}
11% {
  content: "alternative rock de Linkin Park!";
}
21% {
  content: "punk rock de Green Day!";
}
31% {
  content: "pop de Lady Gaga!";
}
41% {
  content: "pop punk de Fall out Boys!";
}
51% {
  content: "rock de Imagine Dragons!";
}
61% {
  content: "emo punk de Panic! At the Disco!";
}
71% {
  content: "rock/metal de Queen!";
}
81% {
  content: "R&B de The Weeknd!";
}
91% {
  content: "alternative rock de Linkin Park et Mike Shinoda!";
}
100% {
  content: "alternative pop de Billie Eilish!";
}
}

@keyframes ChaCha {

100% {
  left:800px
}

}