body {
    margin: 0;
    padding: 0;
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTU5eDkwNWQwdmNiYzI5OTU3N2w0bzQwajhkZWlsbm5iYzlxb3YzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sr8YsbzczwisgPdDAH/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b1b1b;
    color: white;
    background-image: linear-gradient(to right, #f03030, #494949, #309eff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Comic, sans-serif;
}

.logo {
    max-width: 100px;
}

header h1 {
    font-size: 2rem;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #00BFFF;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: #00BFFF;
    text-align: center;
    padding: 10px;
    color: white;
}

.description {
    background-color: rgba(0, 0, 0, 0.8);;
    padding: 30px;
    border: 0.8px solid #ccc;
    border-radius: 0.8px;
}

.description h2 {
    font-size: 1.7rem;
    color: #00BFFF;
}

.description p {
    font-size: 1.6rem;
    line-height: 0.9;
    color: white;
}

footer {
    background-color: #00BFFF;
    text-align: center;
    padding: 5px;
    color: white;
}

.content {
    flex: 1;
    /* Votre contenu peut avoir une marge en haut ou en bas ici. */
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    /* Positionnez le footer en bas de la page. */
    position: fixed;
    bottom: 0;
    width: 99%;
}