body {
    margin: 0;
    padding: 0;
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTU5eDkwNWQwdmNiYzI5OTU3N2w0bzQwajhkZWlsbm5iYzlxb3YzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sr8YsbzczwisgPdDAH/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #1b1b1b;
    color: white;
    background-image: linear-gradient(to right, #f03030, #f07fff, #309eff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Comic, sans-serif;
}

.logo {
    max-width: 100px;
}

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.centered-title {
    font-size: 60px;
    font-weight: bold;
    font-family: Comic, sans-serif;
}

.general-text {

    font-size: 30px;
    color: white;
    text-align: center;

}

.sub-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Comic, sans-serif;
    text-shadow: 4px 4px 8px #309efff3;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.flex-container {
    display: flex;
}

.left-content {
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 97%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #025a77;
    text-align: center;
    padding: 5px;
    color: white;
}

.content {
    flex: 1;
    /* Votre contenu peut avoir une marge en haut ou en bas ici. */
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    /* Positionnez le footer en bas de la page. */
    position: fixed;
    bottom: 0;
    width: 99%;
}