body {
    margin: 0;
    padding: 0;
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTU5eDkwNWQwdmNiYzI5OTU3N2w0bzQwajhkZWlsbm5iYzlxb3YzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sr8YsbzczwisgPdDAH/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTU5eDkwNWQwdmNiYzI5OTU3N2w0bzQwajhkZWlsbm5iYzlxb3YzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sr8YsbzczwisgPdDAH/giphy.gif");
    height: 100%; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #1b1b1b;
    color: white;
    background-image: linear-gradient(to right, #f03030, #f07fff, #309eff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'beon-webfont';
}

footer {
    background-image: linear-gradient(to right, #f03030, #f07fff, #309eff);
    text-align: center;
    padding: 5px;
    color: white;
}

.content {
    flex: 1;
    /* Votre contenu peut avoir une marge en haut ou en bas ici. */
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    /* Positionnez le footer en bas de la page. */
    position: fixed;
    bottom: 0;
    width: 99%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Comic, sans-serif;
}

.logo {
    max-width: 100px;
}

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.centered-title {
    font-size: 60px;
    font-weight: bold;
    font-family: Comic, sans-serif;
}

.general-text {

    font-size: 30px;
    color: white;
    text-align: center;

}

.sub-title {
    color: #dbe7f1f3;
    font-size: 30px;
    font-weight: bold;
    font-family: Comic, sans-serif;
    text-shadow: 4px 4px 8px #f03030;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #309efff3;
}

.flex-container {
    display: flex;
}

.left-content {
    flex: 1;
}

.video-container {
    flex: 1;
    text-align: right;
    margin-right: 1250px
}

iframe {
    border: 1px
}

/* Fix des textes */
.titre-dynamique {
    position: absolute;
    top: 350px;
    left: 590px;
    color: #f03030;
    text-shadow: 4px 4px 8px #f03030;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #309efff3;
    font-size: 18px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #502975;
}

.video-dynamique {
    position: absolute;
    top: 350px;
    left: 10px;
    font-size: 18px;
}

/* Fonction Bouton et Animation Bouton */
.Bouton1 {
    position: absolute;
    top: 600px;
    left: 680px;
    font-size: 10px;
}

.button-container {
    display: inline-block;
    transition: transform 0.3s;
}

.button-container:hover {
    transform: scale(1.1);
}

.Bouton2 {
    position: absolute;
    top: 800;
    left: 1300px;
    font-size: 10px;
}

.button-container {
    display: inline-block;
    transition: transform 0.3s;
}

.button-container:hover {
    transform: scale(1.1);
}

/* Esthetique */
.neon-text {
    font-size: 6em;
    text-align: center;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    position: relative;
    text-transform: uppercase;
  }
  
  .neon-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #f03030;
    text-shadow: 0 0 10px #f03030, 0 0 20px #f03030, 0 0 30px #f03030, 0 0 40px #f03030, 0 0 50px #309eff, 0 0 60px #309eff, 0 0 70px #309eff, 0 0 80px #309eff;
    opacity: 0;
    z-index: -1;
    animation: glow 2s linear infinite;
  }
  
  .neon-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: -2;
  }

  .RollText {
    position: absolute;
    top: 500px;
    left: -1000px;
    font-size: 60px;
    font-weight: 800;
    font-family: sans-serif;
    color: #dbe7f1f3;
    text-shadow: 4px 4px 8px #f03030;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #309efff3;
    animation: ChaCha 0.5s forwards;
  }