body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1161296362479034479/1163773424456437760/3412559.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #1b1b1b;
    color: white;
    background-image: linear-gradient(to right, #f03030, #494949, #309eff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer {
    background-color: #00BFFF;
    text-align: center;
    padding: 10px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Comic, sans-serif;
}

.logo {
    max-width: 100px;
}

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.centered-title {
    font-size: 60px;
    font-weight: bold;
    font-family: Comic, sans-serif;
}

.general-text {

    font-size: 30px;
    color: white;
    text-align: center;

}

.sub-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Comic, sans-serif;
    text-shadow: 4px 4px 8px #309efff3;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.flex-container {
    display: flex;
}

.left-content {
    flex: 1;
}

.video-container {
    flex: 1;
    text-align: right;
    margin-right: 1250px
}


/* Fix des textes */
.titre-dynamique {
    position: absolute;
    top: 350px;
    left: 590px;
    color: #f03030;
    font-size: 18px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #502975;
}

.video-dynamique {
    position: absolute;
    top: 350px;
    left: 10px;
    font-size: 18px;
}

/* Fonction Bouton et Animation Bouton */
.Bouton1 {
    position: absolute;
    top: 750px;
    left: 680px;
    font-size: 10px;
}

.button-container {
    display: inline-block;
    transition: transform 0.3s;
}

.button-container:hover {
    transform: scale(1.1);
}

/* Esthetique */
.neon-text {
    font-size: 6em;
    text-align: center;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    position: relative;
    text-transform: uppercase;
  }
  
  .neon-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #f03030;
    text-shadow: 0 0 10px #f03030, 0 0 20px #f03030, 0 0 30px #f03030, 0 0 40px #f03030, 0 0 50px #309eff, 0 0 60px #309eff, 0 0 70px #309eff, 0 0 80px #309eff;
    opacity: 0;
    z-index: -1;
    animation: glow 2s linear infinite;
  }
  
  .neon-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: -2;
  }
